{% load socialaccount %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">Do It Django</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link" aria-current="page" href="/">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/blog/">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about_me/">About Me</a>
			</li>
			</ul>
			<!-- Trigger modal -->
			<ul class="navbar-nav ms-auto">
				{% if user.is_authenticated %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						{% if user.socialaccount_set.all.0.get_avatar_url %}
							<img class="rounded-circle" width="40px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
						{% else %}
							<img class="rounded-circle" width="30px" src="https://doitdjango.com/avatar/id/1217/da1972275b7c3795/svg/{{ user.email }}11">
						{% endif %}
						&nbsp; {{ user.username }}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/accounts/logout/">Log Out</a>
						</div>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="loginModalLabel"><i class="fa-solid fa-right-to-bracket"></i>&nbsp Log In</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6 d-grid gap-1">
						<a role="button" class="btn btn-outline-dark btn-block btn-sm" href="{% provider_login_url 'google' %}">
							<i class="fa-brands fa-google"></i>&nbsp&nbsp Log in with Google
						</a>
						<a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/login/">
							<i class="fa-solid fa-envelope"></i>&nbsp&nbsp Log in with E-mail
						</a>
					</div>
					<div class="col-md-6 d-grid gap-1">
						<a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup/">
							<i class="fa-solid fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
